@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss */

div#root {
	@apply h-dvh w-dvw;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white text-gray-900 font-jura overflow-x-hidden;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

p {
  @apply text-base;
}

a #animated {
  position: relative;
  color: #fff;
  text-decoration: none;
  @apply text-blue-900 w-0;
}

a #animated:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.5px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

  @apply bg-blue-500 rounded-full;
}

a:hover #animated:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.emoji {
  vertical-align: middle;
  @apply inline-block h-[1em] w-[1em];
}